{% extends 'base.html' %}
{% block content %}

<div class="row">

    <h3>Categories</h3>

    <ul class="collapsible" data-collapsible="accordion">
    {% for category in categories %}
        <li>
            <div class="collapsible-header">
                <a href="" class="waves-effect waves-light btn btn_small">Done</a>
                <a href="" class="waves-effect waves-light btn btn_small blue">Edit</a>
                <div class="task_header col s9">
                    <strong>{{category.category_name}}</strong>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}