{% extends 'base.html' %}
{% block content %}
    {% for task in tasks %}
        {{task.task_name}}
        {{task.category_name}}
        {{task.task_description}}
        {{task.is_urgent}}
        {{task.due_date}}
    {% endfor %}

<ul class="collapsible">
    {% for task in tasks %}
    <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
        {{task.task_name}} - {{task.due_date}}
        </div>
        <div class="collapsible-body">
            <span>
                {{task.task_description}}
            </span>
        </div>
    </li>
    {% endfor %}

</ul>

{% endblock %}